@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'MyFont';
    src: url('../fonts/Lato') format('woff2'),
    font-weight: ['300', '400', '700'];
    font-style: normal;
  }
  